.registerFormBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  padding: 24px;

  border-radius: 4px;
  background-color: rgba(8, 121, 120, 0.7);
  box-shadow: 0 0 10px rgba(82, 103, 121, 1);
}

.registerFormTitle {
  margin: 0;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-color);
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  justify-content: center;
}

.registerFormLabel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
}

.registerFormField {
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(59, 59, 59);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 20px;

  &:hover,
  &:focus {
    transform: scale(1.05);
    outline: none;
  }
}

.registerFormButton {
  margin-left: auto;
}
