.contactFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 32px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(161, 107, 63, 0.9);
}

.contactFormTitle {
  text-align: center;
  color: white;
}

.contactFormBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}
