.userMenuBox {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.userMenuText {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.userMenuButton {
  transition:
    transform var(--transition-time) var(--transition-type),
    color var(--transition-time) var(--transition-type),
    border-color var(--transition-time) var(--transition-type);

  &:hover,
  &:focus {
    transform: scale(1.07);
    color: var(--primary-background-color);
    border-color: var(--primary-background-color);
  }
}
